*.d.ts
*.d.ts.map
.nyc_output
coverage
node_modules
tsconfig.tsbuildinfo
/packages/*/DISCLAIMER-WIP
/packages/*/LICENSE
/packages/*/NOTICE
/packages/*/README.md
/packages/*/lib
/packages/*/docs/api
/web/dist
