{
  "exclude": [
    "packages/*/test"
  ],
  "extension": [
    ".js",
    ".mjs"
  ],
  "instrument": false,
  "require": [
    "@std/esm",
    "@babel/register",
    "@babel/polyfill"
  ],
  "sourceMap": false
}
